.load {
  margin: 2rem;
}

.compare-pokemon-box {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 5rem;
  padding: 1rem;
  z-index: 1;
  margin-left: 3rem;
  border: 2px solid black;
  width: 12rem;
  margin: 1rem 2rem 0 auto;
}

.compare-pokemon {
  margin: 0;
}
